/*Media queries for tablet*/

@media only screen and (min-width: 950px) {
    /*-------------------------------------------------------------------------
    --------------------------- HEADER AND NAVIGATION -------------------------
    -------------------------------------------------------------------------*/
    .header_img_phone {
        display: none;    
    }
    
    .header_img_larger {
        display: block;
        width: 100%;
    }

    /*-------------------------------------------------------------------------
    --------------------------- PROFILE SECTION -------------------------------
    -------------------------------------------------------------------------*/
    .profile_section {
        article {
            width: 80%;
            p {
                font-size: 20px;
            }
        }
        .profile_img {
            width: 20rem;
        }
    }

    /*-------------------------------------------------------------------------
    --------------------------- WORK SAMPLES SECTION --------------------------
    -------------------------------------------------------------------------*/
    .work_samples {
        padding: 4rem;       
        .movie_festival, .combil {
            padding: 4rem;
            img {
                width: 25rem;
            }
            p {
                font-size: 1.1rem;
            }
            a {
                font-size: 1rem;
            }
        }       
    }

    /*-------------------------------------------------------------------------
    --------------------------- MORE ABOUT ME SECTION -------------------------
    -------------------------------------------------------------------------*/
    .experience {
        .education li, .work li {
            font-size: 1.1rem;
        }
    }
}